

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  

  .main-content {
    flex: 1;
    padding: 1rem; 
  }
  
  @media (min-width: 768px) {
    .main-content {
      padding: 1.5rem; 
    }
  }
  
 
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  

  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
 
  .search-container {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
  }

.table-container{
    overflow-x: auto;
    border: 1px solid #b8b8b8d1;
    border-radius: 10px;
}


.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
}

.custom-table a{
    color: #4b5563;
}

.custom-thead {
  background-color: #f9fafb;
}

.custom-tr-header {
  border-bottom: 2px solid #e5e7eb;
}

.custom-th {
  padding: 12px 15px;
  font-weight: 600;
  color: #374151;
}


.custom-tbody .custom-tr-body {
  transition: background-color 0.2s ease-in-out;
  background-color: #ffffff;
  border: 1px solid #b8b8b8d1;
  border-radius: 10px;
  padding: 5px;
}

.custom-tbody .custom-tr-body:hover {
  background-color: #f3f4f6;
}

.custom-td {
  padding: 16px 19px;
  color: #4b5563;
}


.custom-link {
  color: #2563eb;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.custom-link:hover {
  color: #1d4ed8;
}


.text-muted-foreground {
  color: #6b7280;
}


.font-medium {
    font-weight: 500;
  }



