

.cardproject{
    width: 70%;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.25);;
    transition: all 0.1s;
    height: 14rem;
    background-color: #ffffff;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    
}

.cardproject:hover{
    width: 75%;
    height: 15.5rem;
}

.cardproject:active {
    transition: all 0.1s;
    box-shadow: inset 1px 1px 7px 1px rgba(0, 0, 0, 0.25);
}




.cardproject img{
    display: block;
    object-fit: cover;
    width: 100vh;
    border-radius: 10px 10px 0px 0px;
    background: #D9D9D9;


}

.cardproject h2{
    font-weight: bold;
    font-size: 1.2rem;
    padding: 20px;
}