#team-card {
  width: 18rem;
}

#team-card #img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #808080;
  margin-bottom: 1rem;
}
#team-card a {
  margin-right: 0.5rem;
}
.img-team {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.role {
  font-weight: bold;
}
.icon {
  margin-top: 0.5rem;
}
